

<div class="container-fluid">
<h1 style="text-align: center">Company list</h1>
<!-- <div class="row"> -->
    <form name="userForm" novalidate>
          <div class="form-group" ng-class="{ 'has-error': userForm.name.$invalid }" >
            <!-- <label class="control-label">Search</label> -->
            <input type="text" class="form-control" name="name" ng-model="query" placeholder="Search" />
          </div>
          <!-- <button class="btn btn-primary" ng-click="save()">Add Company</button> -->
          <!-- <button class="btn btn-link" ng-click="reset()">Reset</button> -->
    </form>
    <!-- <div class="col-sm-10">
        Search: <input class="text-box input-large input-large-altered" ng-model="query">
    </div> -->
<!-- </div> -->

<br/>
<!-- <div class="row"> -->
    <div class="col-md-10">
          <ul class="companies">
            <li ng-repeat="company in companies | filter:query"
                class="thumbnail">
              <!-- <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}" alt="{{phone.name}}"></a>
              <a href="#/phones/{{phone.id}}">{{phone.name}}</a> -->
              <a href="#">{{company.Name}}</a>
            </li>
          </ul>
    </div>
<!-- </div> -->
<button class="btn btn-primary center-block" ng-click="save()">Add Company</button>
</div>
